body {
	background-color: rgb(53, 53, 53);
	font-family: sans-serif;
	margin: 0px;
	padding: 0px;
	min-height: 100%;
}

#mainHeader{
	margin: 0px;
	padding: 5px;
	width: 100%;
	background-color: rgba(169, 169, 169, 0.3);
}

#title{
	margin: 0px;
	padding: 0px;
	color: white;
}

#mainFooter{
	position: fixed;
	bottom: 0;
	margin: 0px;
	padding: 5px;
	width: 100%;
	background-color: rgba(169, 169, 169, 0.3);
}


#footerInformation{
	color: white;
	margin:0px;
	padding:0px;
	font-size: 12px;
}

button{
	padding: 5px;
	background-color: rgb(20, 199, 20);
	color: white;
	border-radius: 5px;
}

button:hover{
	background-color: rgb(16, 150, 16);
}

.mainContent{
	position: relative;
	margin-top: 20%;
}

.backgroundVideo{
	z-index: -1;
	object-fit: cover;
	width: 100vw;
	height: 100vh;
	position: fixed;
	top: 0;
	left: 0;
}